/backend/vendor/
/backend/storage/
/backend/.env
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitkeep
/backend/.phpunit.result.cache

/frontend/node_modules/
/frontend/dist/*
!/frontend/dist/manifest.json

/data/export.json
/old/
/.vscode/
/.claude/
/.codex