{
    auto_https off
}

executo.local:80 {
    encode zstd gzip
    log {
        format console
    }

    log_skip /favicon.ico
    log_skip /favicon.svg
    log_skip /robots.txt
    log_skip /vite-hmr*
    log_skip /@vite*
    log_skip /assets/*

    handle /api/* {
        reverse_proxy backend:80 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-For {remote}
        }
    }

    handle /mail* {
        uri strip_prefix /mail
        reverse_proxy mailpit:8025
    }

    handle {
        reverse_proxy node:80
    }
}
