{
    auto_https off
}

http://executo.local {
    reverse_proxy /vite-hmr/* node:80
    reverse_proxy /api/* backend:80

    handle /mailpit* {
        uri strip_prefix /mailpit
        reverse_proxy mailpit:8025
    }

    reverse_proxy * node:80
}

:8080 {
    root * /srv/public
    file_server
}
